.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-box {
    height: 60vh;
    width: 30vw;   
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    justify-content: center;
}

.login-box input[type="text"],
.login-box input[type="password"] {
    width: 60%;
    padding: 10px;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.login-box button {
    width: 70%;
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.login-box button:hover {
    background-color: #45a049;
}
